<template>
  <q-page class="row items-center justify-evenly">
    <q-header bordered class="bg-white text-primary q-pt-xm">
      <q-toolbar >
          <q-toolbar-title>

          </q-toolbar-title>

          <q-btn flat round dense float-right icon="mail" />
          <q-btn flat round dense float-right icon="settings" />
          <q-btn flat round dense float-right icon="notifications_active" />
          <q-btn flat round dense float-right icon="exit_to_app" />
      </q-toolbar>
    </q-header>

    <q-page-container>
          <q-page-sticky position="bottom-right" :offset="[10, 10]">
            <q-btn fab icon="add" color="primary" @click="prompt = true"/>
          </q-page-sticky>

  <q-dialog v-model="prompt" persistent>

    <q-card style="min-width: 300px">
          <q-card-section>
          <div class="text-h5">Request Leave</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            Leave type
          <q-select filled v-model="welfareLeaveOptions" :options="options" label="Select leave type" />
            <br>
            Effective
          <q-input filled v-model="effectiveRequestDate" mask="date" :rules="['date']">
             <template v-slot:append>
               <q-icon name="event" class="cursor-pointer">
                 <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="effectiveRequestDate" @input="() => $refs.qDateProxy.hide()" />
                 </q-popup-proxy>
               </q-icon>
             </template>
         </q-input>
          Final Day
         <q-input filled v-model="endRequestDate" mask="date" :rules="['date']">
             <template v-slot:append>
               <q-icon name="event" class="cursor-pointer">
                 <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="endRequestDate" @input="() => $refs.qDateProxy.hide()" />
                 </q-popup-proxy>
               </q-icon>
             </template>
         </q-input>
        </q-card-section>
          <q-card-actions align="right" class="text-primary">
             <q-btn flat label="Cancel" v-close-popup />
             <q-btn flat label="Request" v-close-popup />
          </q-card-actions>
 </q-card>
</q-dialog>
  <div class="q-gutter-sm" >
    <q-avatar color="primary" text-color="white">AJ</q-avatar>
  </div>
</q-page-container>

</q-page>
</template>

<script>
export default {
  data () {
    return {
      model: 'one',

      alert: false,
      confirm: false,
      prompt: false,

      address: '',

      effectiveRequestDate: '2020/01/01',
      endRequestDate: '2020/01/01',

      welfareLeaveOptions: null,
      options: [
        'Annual leave', 'Sick leave', 'Compensatory leave', 'Paternity leave', 'Maternity leave'
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.my-custom-toggle
  border: 1px solid #027be3
</style>
