<template>
  <q-page class="row items-center justify-evenly">
        <q-header bordered class="bg-white text-primary q-pt-xm">
      <q-toolbar >
          <q-toolbar-title>

          </q-toolbar-title>

          <q-btn flat round dense float-right icon="mail" />
          <q-btn flat round dense float-right icon="settings" />
          <q-btn flat round dense float-right icon="notifications_active" />
          <q-btn flat round dense float-right icon="exit_to_app" />
      </q-toolbar>
    </q-header>
    <p>Projects Content</p>
  </q-page>
</template>

<script lang="ts">

</script>
