<template>
  <q-page class="row items-center justify-evenly">
    <q-header class="bg-transparent text-primary q-pt-xl">
    <div >
      <q-tabs dense class="items-center q-pa-md">
        <q-route-tab to="/welfare/leaves" name="leaves" label="Leaves" />
        <q-route-tab to="/welfare/sicksheets" name="SickSheets" label="Sick Sheets" />
        <q-route-tab to="/welfare/myfamily" name="MyFamily" label="My Family" />
      </q-tabs>
    </div>
    </q-header>
    <q-header bordered class="bg-white text-primary q-pt-xm">
      <q-toolbar >
          <q-toolbar-title>

          </q-toolbar-title>

          <q-btn flat round dense float-right icon="mail" />
          <q-btn flat round dense float-right icon="settings" />
          <q-btn flat round dense float-right icon="notifications_active" />
          <q-btn flat round dense float-right icon="exit_to_app" />
      </q-toolbar>
    </q-header>
  <p>My Family Welfare Content</p>
  </q-page>
</template>

<script lang="ts">

</script>
