<template>
<q-layout view="lHh Lpr lFf">
    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer bordered class="bg-white text-blue-3">
      <q-tabs
        indicator-color="transparent"
        active-color="primary"
        xs
      >
        <q-route-tab label="home" to="/" name="home" icon="home" />
        <q-route-tab label="Welfare" to="/welfare" name="welfare" icon="group" />
        <q-route-tab label="finance" to="/financials" name="financial" icon="account_balance_wallet" />
        <q-route-tab label="apps" to="/financials" name="apps" icon="widgets" />
      </q-tabs>

    </q-footer>
  </q-layout>
</template>

<script lang="ts">

</script>
